<div fs-mirrorclick-element="trigger" data-w-id="e974dcc2-b9fe-ec6a-5bd3-677b25ad64a6" class="background-trigger-close"></div>{% render 'minicart' %}
 {% schema %} {"tag":"div","name":"minicart","class":"cart","presets":[{"name":"minicart","category":"Liquify"}]} {% endschema %}