<div fs-mirrorclick-element="trigger" data-w-id="e974dcc2-b9fe-ec6a-5bd3-677b25ad64a6" class="background-trigger-close"></div>{% render 'mini_cart' %}
 {% schema %} {"tag":"div","name":"mini_cart","class":"cart","presets":[{"name":"mini_cart","category":"Liquify"}]} {% endschema %}